<div class="container">
  <div class="row" *ngIf="!isLoggedIn">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">OAuth 2 - Sign In</h5>
          <div class="form-signin">
            <hr class="my-4">
            <h6 class="sub-title text-center">Grant Types</h6>
            <br>
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" (click)="loginAuthorizationCode()">
              <i class="fab fa-google mr-2"></i> Sign in Authorization Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="content">
    <span>Welcome !!</span>
    <a class="btn btn-default pull-right"(click)="logout()" href="#">Logout</a>
    <br/>
    <app-home></app-home>
  </div>  
</div>